
@{
    ViewBag.Title = "Index";
}

<h2>FileIO</h2>

<!--Main Container Div-->
<div class="container background-light-grey">

    <!--First Row Div-->
    <div class="row font-paragraph">
        <div class="col-md-5">
            <h3>Team Reflection</h3>
            <ul>
                <li>
                    <!--Good Column-->
                    Good
                    <ul>
                        <li>We communicated well</li>
                        <li>
                            We asked each other questions 
                            about what we were doing 
                            with the code
                        </li>
                        <li>
                            We made compromises and let each 
                            other know when we wouldn’t be
                            available
                        </li>
                    </ul>
                </li>

                <li>
                    <!--Bad Column-->
                    Bad
                    <ul>
                        <li>
                            In our commit names or messages
                            we should be a little more
                            verbose or explanatory about
                            what we changed
                        </li>
                        <li>
                            Editing or adding changes to someone
                            else’s branch or assigned method
                            without previous communication
                        </li>
                    </ul>
                </li>

                <li>
                    <!--Start Column-->
                    Start
                    <ul>
                        <li>Testing each branch before attempting to merge it</li>
                        <li>Creating Trello boards as a team</li>
                        <li>Taking time to update trello boards as a team</li>
                        <li>Setting up specific times on weekends or weekdays when we can all work together online</li>
                        <li>Taking time to make sure everyone is on the same page</li>
                    </ul>
                </li>

                <li> <!--Stop Column-->
                    Stop
                    <ul>
                        <li>
                            Completing pull requests before everyone
                            approves or people explicitly say they 
                            won’t be available to approve the pull request
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-1">
            <!--Buffer Div-->
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <!--First Row Div-->

    <!--Second Row Div-->
    <div class="row">

    </div>
    <!--Second Row Div-->

</div>
<!--Main Container Div-->