/*
    Fonts
*/
.font-banner {
    font-family: 'Audiowide', cursive;
}

.font-header {
    font-family: 'Audiowide', cursive;
}

.font-label {
    font-family: 'Audiowide', cursive;
}

.font-paragraph {
    font-family: 'Open Sans', sans-serif;
}
