
@{
    ViewBag.Title = "Unit Conversion - JavaScript";
}

<h2>Unit Covnersion - JavaScript</h2>

<!--Main Container Div-->
<div class="container background-light-grey">

    <!--First Row Div-->
    <div class="row font-paragraph">
        <div class="col-md-5">
            <h3 class="font-header">Reflection</h3>
            <p>
                This greatly improved my ability to use
                Javascript, but I mostly learnt a lot about
                project project management.
                <hr />
                It became clear to finsih planning out a project
                before starting and to avoid overcomplicating the issue
                However my team did figure out time to work on the project
                outside the normal hours for the Internship
            </p>
        </div>
        <div class="col-md-1">
            <!--Buffer Div-->
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <!--First Row Div-->

    <div class="row">
        <!--Buffer Row Div-->
        <hr />
        <hr />
    </div>

    <!--Second Row Div-->
    <div class="row">
        <div class="container">
            <!-- Full-width images with number text -->
            <div class="mySlides">
                <div class="numbertext">1 / 5</div>
                <img src="~/Resources/Images/FileIO/Screenshot_1.png" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">2 / 5</div>
                <img src="~/Resources/Images/FileIO/Screenshot_2.png" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">3 / 5</div>
                <img src="~/Resources/Images/FileIO/Screenshot_3.png" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">4 / 5</div>
                <img src="~/Resources/Images/FileIO/Screenshot_4.png" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">5 / 5</div>
                <img src="~/Resources/Images/FileIO/Screenshot_5.png" style="width:100%">
            </div>

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <!-- Image text -->
            <div class="caption-container">
                <p id="caption"></p>
            </div>
        </div>
    </div>
    <!--Second Row Div-->

</div>
<!--Main Container Div-->
<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>
